.sideBar{
    height:100vh;
    flex: 0.2;
    background-color: #040400;
    color: white;
    height: 100vh;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
}
.sideBar__logo{
    object-fit: contain;
    height: 70px;
    padding: 10px;
    margin-right: auto;
}
.sideBar__title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}
.sideBar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}