.songRow{
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
}
.songRow:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}
.songRow__info{
    margin-left: 20px;
}
.songRow__info > h1{
    font-size: 16px;
}
.songRow__info > p{
font-size: 14px;
margin-top: 3px;
color: grey;
}
.songRow__album{
    height: 150px;
    width: 150px;
}
.songRow__audio .rhap_controls-section {
    display: flex;

}
.songRow__audio .rhap_controls-section .rhap_main-controls-button {
    width: 35px;
    height: 35px;
    background: white;
}
.songRow__audio .rhap_controls-section .rhap_main-controls-button .rhap_play-pause-button{
    color: green;
}

.songRow__audio .rhap_controls-section .rhap_repeat-button{
    width: 35px;
    height: 35px;
    background: white;
}
.songRow__audio .rhap_controls-section .rhap_volume-button{
    width: 35px;
    height: 35px;
    background: white;
}
.songRow .rhap_progress-section{
    display: flex;
}
.songRow .rhap_total-time{
display: none;
}
.songRow .rhap_current-time{
    font-family:'digital-clock-font';
    font-size: 24px;
}
.songRow__audio__icons{
    display: flex;
    padding-top: 20px;
}
.songRow__audio__icons__thumbsDown{
    margin-left: 15px;
}
.songRow__audio__icons__thumbsUp:hover{
    color: #1db954;
}
.songRow__audio__icons__thumbsDown:hover{
    color: red;
}